[Unit]
Description=StockChecker app
After=network.target

[Service]
User=angus
WorkingDirectory=/home/angus/stockchecker
ExecStart=python3 app.py
Restart=always

[Install]
WantedBy=multi-user.target