{% extends "main.html" %} {% block content %}
<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">
  <!-- ***** Header Text Start ***** -->
  <div class="header-text">
    <div class="container">
      <div class="row">
        <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
          <h1>Blogging made <em>EASY</em></h1>
          <p>
            BlogHosters makes it easy for you to write your own blog, with your own styling, for your audience. Spend less time setting up
            servers and more time writing about what you love.
          </p>
          <a href="/signup" class="main-button-slider">SIGN UP NOW</a>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
        <div class="features-item">
          <div class="features-icon">
            <h2>01</h2>
            <img src="assets/images/features-icon-1.png" alt="" />
            <h4>Trend Analysis</h4>
            <p>Curabitur pulvinar vel odio sed sagittis. Nam maximus ex diam, nec consectetur diam.</p>
            <a href="#testimonials" class="main-button"> Read More </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
        <div class="features-item">
          <div class="features-icon">
            <h2>02</h2>
            <img src="assets/images/features-icon-2.png" alt="" />
            <h4>Site Optimization</h4>
            <p>Curabitur pulvinar vel odio sed sagittis. Nam maximus ex diam, nec consectetur diam.</p>
            <a href="#testimonials" class="main-button"> Discover More </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
        <div class="features-item">
          <div class="features-icon">
            <h2>03</h2>
            <img src="assets/images/features-icon-3.png" alt="" />
            <h4>Email Design</h4>
            <p>Curabitur pulvinar vel odio sed sagittis. Nam maximus ex diam, nec consectetur diam.</p>
            <a href="#testimonials" class="main-button"> More Detail </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Features Big Item End ***** -->

<div class="left-image-decor"></div>

<!-- ***** Features Big Item Start ***** -->
<section class="section" id="promotion">
  <div class="container">
    <div class="row">
      <div
        class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big"
        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s"
      >
        <img src="assets/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App" />
      </div>
      <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
        <ul>
          <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
            <img src="assets/images/about-icon-01.png" alt="" />
            <div class="text">
              <h4>Vestibulum pulvinar rhoncus</h4>
              <p>
                Please do not redistribute this template ZIP file for a download purpose. You may
                <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact</a> us for additional licensing of our
                template or to get a PSD file.
              </p>
            </div>
          </li>
          <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
            <img src="assets/images/about-icon-02.png" alt="" />
            <div class="text">
              <h4>Sed blandit quam in velit</h4>
              <p>
                You can <a rel="nofollow" href="https://templatemo.com/tm-540-lava-landing-page">download Lava Template</a> from our
                website. Duis viverra, ipsum et scelerisque placerat, orci magna consequat ligula.
              </p>
            </div>
          </li>
          <li data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
            <img src="assets/images/about-icon-03.png" alt="" />
            <div class="text">
              <h4>Aenean faucibus venenatis</h4>
              <p>
                Phasellus in imperdiet felis, eget vestibulum nulla. Aliquam nec dui nec augue maximus porta. Curabitur tristique lacus.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- ***** Features Big Item End ***** -->

<div class="right-image-decor"></div>

<!-- ***** Testimonials Starts ***** -->
<section class="section" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="center-heading">
          <h2>What They Think <em>About Us</em></h2>
          <p>
            Suspendisse vitae laoreet mauris. Fusce a nisi dapibus, euismod purus non, convallis odio. Donec vitae magna ornare,
            pellentesque ex vitae, aliquet urna.
          </p>
        </div>
      </div>
      <div class="col-lg-10 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
        <div class="owl-carousel owl-theme">
          <div class="item service-item">
            <div class="author">
              <i><img src="assets/images/testimonial-author-1.png" alt="Author One" /></i>
            </div>
            <div class="testimonial-content">
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <h4>Jonathan Smart</h4>
              <p>“Nullam hendrerit, elit a semper pharetra, ipsum nibh tristique tortor, in tempus urna elit in mauris.”</p>
              <span>Besta CTO</span>
            </div>
          </div>
          <div class="item service-item">
            <div class="author">
              <i><img src="assets/images/testimonial-author-1.png" alt="Second Author" /></i>
            </div>
            <div class="testimonial-content">
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <h4>Martino Tino</h4>
              <p>“Morbi non mi luctus felis molestie scelerisque. In ac libero viverra, placerat est interdum, rhoncus leo.”</p>
              <span>Web Analyst</span>
            </div>
          </div>
          <div class="item service-item">
            <div class="author">
              <i><img src="assets/images/testimonial-author-1.png" alt="Author Third" /></i>
            </div>
            <div class="testimonial-content">
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <h4>George Tasa</h4>
              <p>
                “Fusce rutrum in dolor sit amet lobortis. Ut at vehicula justo. Donec quam dolor, congue a fringilla sed, maximus et urna.”
              </p>
              <span>System Admin</span>
            </div>
          </div>
          <div class="item service-item">
            <div class="author">
              <i><img src="assets/images/testimonial-author-1.png" alt="Fourth Author" /></i>
            </div>
            <div class="testimonial-content">
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <h4>Sir James</h4>
              <p>
                "Fusce rutrum in dolor sit amet lobortis. Ut at vehicula justo. Donec quam dolor, congue a fringilla sed, maximus et urna."
              </p>
              <span>New Villager</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
