<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="TemplateMo" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet" />

    <title>BlogHosters</title>
    <!--

Lava Landing Page

https://templatemo.com/tm-540-lava-landing-page

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css" />

    <link rel="stylesheet" href="/assets/css/templatemo-lava.css" />

    <link rel="stylesheet" href="/assets/css/owl-carousel.css" />
  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="index.html" class="logo"> BlogHosters </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section"><a href="/" class="menu-item">Home</a></li>
                <li class="scroll-to-section"><a href="#about" class="menu-item">About</a></li>
                {% if g.user %}
                <li><a href="/blog/{{g.user['username']}}" class="menu-item">View Your Blog</a></li>
                <li><a href="/logout" class="menu-item">Logout</a></li>

                {% else %}
                <li><a href="/login" class="menu-item">Login</a></li>
                <li><a href="/signup" class="menu-item">Signup</a></li>
                {% endif %}
                <!-- <li class="submenu">
                  <a href="javascript:;">Drop Down</a>
                  <ul>
                    <li><a href="/login" class="menu-item">Sign Up</a></li>
                    <li><a href="#" class="menu-item">Features</a></li>
                  </ul>
                </li>
                <li class="scroll-to-section"><a href="#contact-us" class="menu-item">Contact Us</a></li> -->
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

    {% block content %}{% endblock %}

    <!-- ***** Testimonials Ends ***** -->

    <!-- ***** Footer Start ***** -->

    <!-- jQuery -->
    <script src="/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/assets/js/popper.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/assets/js/owl-carousel.js"></script>
    <script src="/assets/js/scrollreveal.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="/assets/js/custom.js"></script>
  </body>
</html>
