{%extends "main.html" %} {%block content%}
<style>
  input {
    background-color: rgba(250, 250, 250, 0.3);
  }
</style>
<section class="section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="contact-form">
          <h4 class="mb-3">Get Blogging Today!</h4>
          <p class="mb-3">Start blogging for free! Already have an account? <a href="/login">Login here!</a></p>
          {% if error %}
          <div class="alert alert-danger">{{error}}</div>
          {% endif %}
          <form id="contact" action="/signup" method="post">
            <div class="row">
              <div class="col-12">
                <fieldset>
                  <input name="username" type="text" placeholder="Username" required="" />
                </fieldset>
              </div>
              <div class="col-12">
                <fieldset>
                  <input name="password" type="password" placeholder="Password" required="" />
                </fieldset>
              </div>
              <div class="col-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-button">Sign Up Now</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
