{% extends "base.html" %}
{% block content %}
<div class="col-lg-8 mx-auto p-3 py-md-5">
  
    <main>
      <h1>Docu<strong>Store</strong></h1>
      <p class="fs-5 col-md-8">Store your documents in the cloud. Never lose another file again.</p>
  
      <div class="mb-5">
        <a href="/login" class="btn btn-primary btn-lg px-4">Get Started</a>
      </div>
  
      <hr class="col-3 col-md-2 mb-5">
  
      <div class="row g-5">
        <div class="col-md-6">
          <h2>Accessible anywhere</h2>
          <p>We make sure you can access your important files anywhere. Your files stay safe within our servers with multiple backups distributed around the world.</p>
        </div>
  
        <div class="col-md-6">
          <h2>Support</h2>
          <p>Our system administrators are available 24/7. Our enterprise deployment ensures that you have peace of mind for when you really need it.</p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}